<% include partials/header %>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="js/charts.js"></script>
</head>
<body>

<h1>DATA</h1>

<% include partials/footer %>